/*
--typed.js css start
*/

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*
---typed.js css end
*/

.lighter {
    font-weight: lighter;
}

body {
    background: none;
}

.hero {
   background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/shopping.jpeg') no-repeat left top fixed;
    ! important
  -webkit-background-size: cover;
    height: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.content {
    margin-top: 30%;
    text-align: center;
    color: white;
}


.coming_content {
    padding-top: 20%;
    text-align: center;
    color: white;
}

.page-footer{
    color: beige;
}

.hidden {
    visibility: hidden;
}

#notify {
    transition: 0.5s ease-in-out;
}

#notify:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.green {
    color: aquamarine;
}

@media only screen and (max-width: 420px) {
    .coming_content{
        margin-top: 50%;
    }
    .coming_content img{
        width: 20%;
    }
    .lighter{
        font-size: 2.5rem;
    }    
    .form-control{
        width: 20%;
    }
}   ´

@media only screen and (max-width: 800px) {
.page-footer{
    color: white;
}

@media only screen and(min-width: 435){
    .content {
        margin-top: 70%;
    }
}

@media only screen and(min-width: 800){
    .content {
        margin-top: 40%;
    }
}

@media only screen and(min-width: 1200){
    .content {
        margin-top: 30%;
    }
}
@media only screen and (max-width: 1200px) {

}